*{
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 189, 131);
}

h1{
    color: white ;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

img{
    width: 100%;
    border-radius: 10px;
}

div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

header {
    background-color: rgb(34, 173, 34);
    border-radius: 10px;
    text-align: center;
}

.legszebb {
    background-color: white;
    border-radius: 10px;
}

.vizeink {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    display: grid;
    gap: 10px ;
}

main {
    background-color: rgb(112, 112, 112);
    padding: 10px;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    body{
        width: 100%;
        
    }
}